# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

StudySystem_Client/node_modules/
StudySystem_Client/platforms/
StudySystem_Client/plugins/
.idea/
StudySystem_Server_Java/com.study.system.server/target
.DS_Store
StudySystem_Server_Java/com.study.system.server/.project
StudySystem_Server_Java/com.study.system.server/.classpath
StudySystem_Server_Java/com.study.system.server/.settings
